.DS_Store
/data/*
!/data/.gitkeep
/.vscode/*
made-template_Merlau.code-workspace
exercises/trees.sqlite
*.sqlite
/project/data/*

/project/main.ipynb

project/project/*
exercises/example.jv
project/main.py
