.DS_Store
/data/*
!/data/.gitkeep
/.vscode/*
made-template_Merlau.code-workspace
exercises/trees.sqlite
*.sqlite
/project/data/*
/project/main.ipynb
*.csv
project/project/*
exercises/example.jv
project/main.py
exercise4.jv
project/country_extract.py
*.png
*.ipynb
*.aux
*.log
*.out
*.gz
*.tex
*/pycache/*
/project/tex/*
*.gitkeep
*.gitnore
/project/__pycache__/*